@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: cadetblue;
  margin: 0;
  font-family: Roboto;
}

#container {
  width: 100%;
  margin: 0 auto;
}

#navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  padding: 10px;
  background-color: rgba(95, 158, 160, 0.8);
}

.nav-button {
  font-size: 25px;
  padding: 1px 10px;
  margin: 0 10px;
}

.nav-button:hover {
  border-radius: 10px;
}

#content {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#content > div {
  padding-top: 60px;
}

.heading {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.sub-heading {
  font-size: 40px;
  margin-left: 20px;
}

.contact {
  padding-top: 0 !important;
}

#contact-details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#contact-details > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
}

#contact-details > div > .icon {
  padding-right: 15px;
}

.icon {
  height: 40px; 
  width: 40px;
}

p, a {
  font-size: 25px;
}

p {
  margin-top: 5px;
}

.fake-link {
  text-decoration: none;
  color: blue;
  margin: 25px 0;
}

.fake-link:hover {
  font-size: 26px;
  margin-bottom: 24px;
  cursor: pointer;
}

.skill-row {
  margin: 0 20px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.skill-big {
  width: 220px;
}

.skill-small {
  width: 150px;
}

.skill-project {
  width: 100px;
}

.skill > img {
  object-fit: contain;
  margin: 0 auto;
}

.skill-big > img {
  height: 150px;
  width: 150px;
}

.skill-small > img {
  height: 80px;
  width: 80px;
}

.skill-project > img {
  height: 70px;
  width: 70px;
}

.about > p {
  margin: 20px 20px;
  text-align: justify;
}

.project {
  display: flex;
  justify-content: space-around;
  background-color: cornsilk;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.project-left > h3 {
  font-size: 40px;
}

.project-left, .project-right {
  width: 49%;
}

.project-skills {
  margin-top: 5px;
}

.project-right > a > img {
  object-fit: contain;
  margin: 0 auto;
  max-width: 100%;
  margin-top: 40px;
}

footer {
  text-align: center;
  margin: 0 auto;
}

#intro {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dismiss {
  position: absolute;
  bottom: 0;
  animation: fade 2s linear infinite;
}

.intro-box > h1 {
  font-family:fantasy;
  font-size: 3.5em;
}

@keyframes fade {
  0% {opacity: 0}
  50% {opacity: 0.5}
  100% {opacity: 0}
}



